.navbar {
  background-color: var(--color-primary);
  height: 5%;
  overflow: hidden;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar > * {
  height: 2em !important;
}