.section {
  background-color: var(--color-black);
  padding: 10px;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.sectionTitle {
  color: var(--color-white);
}
.cardGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.MuiTabs-root {
  border-bottom: 2px solid var(--color-primary);
}
.MuiTabs-indicator {
  background-color: transparent;
}

.MuiTab-root {
  font-weight: bold;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: green;
}
